---
---

{% include head.html %}

<section class="ig-nav bg-nude">
  <a href="/index">
    <h1 class="logo center">Eyes of a Nomad</h1>
  </a>
  <nav>
    <a href="/portfolio">View Portfolio</a>
    <!-- <a href="/free-tutorial">Free Skin Re-touching Tutorial</a> -->
    <!-- <a href="http://www.instituteofcode.com/courses/7-day-photography">Mini Photography Course $29</a> -->
    <a href="/work-with-me"> Work with me</a>
  </nav>
</section>
<section>
  <h3> Latest Projects </h3>
  <div id="new-portfolio" class="horizontal-scroll grid">


    {% for project in site.projects reversed %}

            <a href="{{project.url}}" class="mob-portfolio-item col-3_md-6_sm-10 padded-1">
              <div class="big-image">
                <img src="{{project.image1_path}}" class="img-overlay" alt="{{project.title}}">
              </div>
              <h4 class="uppercase"> {{project.title}} </h4>
            </a>

    {% endfor %}

  </div>

</section>
