---
layout: default
title: Portfolio | Eyes of a Nomad
meta-description: >-
  Eyes of a Nomad is Emilio Kuzma, a full-time photographer specialising in
  fashion, swim and lifestyle in Bali, working with local and international
  brands.
meta-keywords:
featured_image: /images/uma-2020/eon-uma2020-30.jpg
---

<!-- Intro Banner  -->
<section class="grid">
  <div class="col-5_sm-3 relative">
    <h2 class="big-bold portfolio-heading"> Portfolio. </h2>
  </div>
  <div class="col-7_sm-9 bg-image tall-110 portfolio-image" style="background-image:url('{{page.featured_image}}')"></div>
</section>

<!-- Portfolio Loop Section  -->
<section class="grid-spaceBetween portfolio padded mob-flex-flip">
  <div class="col-8_sm-12">
    <div class="grid mob-horizontal-scroll"  id="portfolio">

      {% for project in site.projects reversed %}

          {% unless project.hidden == true %}
      <a class="col-4_sm-6_xs-10 padded-1 portfolio-item
      {% for category in project.categories %} {{category | downcase}} {% endfor %}
      {% unless project.categories contains "featured" %} hidden {% endunless %}"
      href="{{project.url}}">
        <div class="bg-image lazy" style="background-image:url('{{project.featured_image}}')"></div>
        <h2>{{project.title}}</h2>
        <p> {{project.subtitle}}</p>
      </a>

        {% endunless %}
      {% endfor %}
    </div>
  </div>
  <div class="col-3_sm-12-top border-left sticky-top" id="filter">
      <div class="sticky-top padded-2">
        <p> I’ve been lucky enough to work with some incredible brands, capturing each one in a different light, telling their individual story through the way I plan, shoot and edit. I pride myself on not having one particular style, if you have a vision, lets work together to create something yours, something unique. </p>
        <nav id="portfolio-filter" class="margin-top-2">
          <a class="active">Featured</a> /
          <a>Fashion</a> /
          <a>Lifestyle</a> /
          <a>Product</a> /
          <a>Venue</a> /
          <a>Food</a> /
          <a>All</a>
      </div>
  </div>

</section>

<style>

  .portfolio-heading {
    transform: rotate(270deg);
    display: inline-block;
    font-size: 15vh;
    position: absolute;
    top: 36vh;
    right: -22vh;
  }


  @media(max-width:768px) {
    .portfolio-image {
      min-height: 90vh;
    }
    .portfolio-heading {
      right: -29vh;
    }
    .mob-horizontal-scroll {
      padding-top: 2rem;
    }
    .portfolio {
      padding: 10% 0;
    }
    .border-left {
      margin-left: 1.5rem;
    }

  }

</style>
