<div class="portfolio-item {% for item in project.category %} {{item}} {% endfor %}">
  <div class="grid">
        <div class="col-3_md-12 horiz-padded ">
          <a href="{{project.url}}">
            <!-- <h3> No. {{project.number}} </h3> -->
            <h4 class="uppercase"> {{project.title}} </h4>
            <p> {{project.description | truncatewords:30 }}</p>
          </a>
          {% for category in project.categories %}
          <a href="/project_archives/{{category | slugify}}" class="tag"> {{category}}</a> {% endfor %}
        </div>
        {% if project.style == 'vertical' %}

        <a href="{{project.url}}" class="grid col-9_md-12 no-padding">
          <div class="col-4 no-padding">
            <div class="vert-image" style="background-image:url('{{project.featured_image}}');">
              <img src="{{project.featured_image}}" class="img-overlay" alt="{{project.title}}">

            </div>
          </div>
          <div class="col-4 no-padding">
            <div class="vert-image" style="background-image:url('{{project.image2_path}}');"></div>
          </div>
          <div class="col-4 no-padding">
            <div class="vert-image" style="background-image:url('{{project.image3_path}}');"></div>
          </div>
        </a>

        {% else %}

        <a href="{{project.url}}" class="grid col-9_md-12 no-padding">
          <div class="col-8 no-padding">
            <div class="big-image" style="background-image:url('{{project.featured_image}}');"> </div>
          </div>
          <div class="col-4 no-padding">
            <div class="sm-image" style="background-image:url('{{project.image2_path}}');"></div>
            <div class="sm-image" style="background-image:url('{{project.image3_path}}');"></div>
          </div>
        </a>

        {% endif %}
  </div>
</div>
