<!-- This is your site header, you can replace this with whichever header you want to use -->

<header class="grid-center {{page.header-style}}">
  <nav class="col-6">
    <a href="/" class="header-logo"> EYES OF A NOMAD </a>
  </nav>
  <nav class="col-6 right">
    <a class="hamburger" href="#"> MENU </a>
  </nav>
</header>



<!-- this is the button to open and close your hamburger menu -->
<!-- <div class="hamburger">
    _<br>
    _<br>
    _
</div> -->

<!-- This is the mobile menu  -->
<nav class="mobile-menu">
  <a href="/">
    <h2 class="logo"> EYES OF A NOMAD </h2>
  </a>
  <hr>
  <a href="/"> Home </a>
  <a href="/portfolio"> Portfolio </a>
  <a href="/work-with-us"> Work With Us </a>
  <a href="/work-with-us#services"> Services </a>
  <a href="/contact"> Contact </a>
</nav>
