<!-- This is your site header, you can replace this with whichever header you want to use -->

<header class="grid-center {{page.header-style}}">
  <nav class="col-6-middle">
    <a href="/"> EYES OF A NOMAD </a>
  </nav>
  <nav class="col-6-middle right">
    <a class="hamburger" href="#"> MENU </a>
  </nav>
</header>


<!-- this is the button to open and close your hamburger menu -->
<!-- <div class="hamburger">
    _<br>
    _<br>
    _
</div> -->

<!-- This is the mobile menu  -->
<nav class="mobile-menu">
  <a href="/">
    <h2 class="logo"> EYES OF A NOMAD </h2>
  </a>
  <hr>
  <a href="/blog"> Blog </a>
  <a href="/about"> About </a>
  <a href="/subscribe"> Subscribe </a>
</nav>
