<footer class="grid featured-bg">
  <!-- column -->
  <div class="col-5_sm-12 padded">
    <a href="/" data-aos="fade" data-aos-offset="0">
        <img class="logo" src="/images/logo/maja.png">
     </a>
    <!-- <h4> By Marie Fe & Jake Snow </h4> -->
    <p data-aos="fade" data-aos-delay="100"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
  </div>
  <div class="col-1 sm-hidden"></div>
  <!-- column -->
  <div class="col-6_sm-12-middle padded right">
    <nav class="inline">
      <a href="/about"> About </a>|
      <a href="/blog"> Blog </a>|
      <a href="/course"> Course </a>|
      <a href="work-with-us"> Work with Us </a>
    </nav>
    <nav class="inline socials">
      <a href="http://www.facebook.com/mariefeandjakesnow" target="_blank">
        <i class="fab fa-facebook-square"></i>
      </a>
      <a href="http://www.instagram.com/mariefeandjakesnow" target="_blank">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="http://www.youtube.com/mariefeandjakesnow" target="_blank">
        <i class="fab fa-youtube"></i>
      </a>
    </nav>
  </div>
</footer>
