<footer class="grid featured-bg">
  <!-- column -->
  <div class="col-5_sm-12 padded">
    <h2>
        Eyes of a Nomad.
     </h2>
    <p class="subtitle"> A Kelapa Creative Brand </p>
    <p class="subtle"> Photography studio specialising in fashion, swim & lifestyle in Bali, Indonesia. </p>

  </div>
  <div class="col-1 sm-hidden"></div>
  <!-- column -->
  <div class="col-6_sm-12-middle padded right">
    <nav class="inline">
      <a href="/about"> About </a>|
      <a href="/portfolio"> Portfolio </a>|
      <a href="/work-with-us"> Work with Us </a>|
      <a href="/work-with-us#services"> Services </a>|
      <a href="/contact"> Contact </a>
    </nav>
    <nav class="inline socials">
      <a href="http://www.facebook.com/eyesofanomad" target="_blank">
        <i class="fab fa-facebook-square"></i>
      </a>
      <a href="http://www.instagram.com/eyesofanomad" target="_blank">
        <i class="fab fa-instagram"></i>
      </a>
      <!-- <a href="http://www.youtube.com/eyesofanomad" target="_blank">
        <i class="fab fa-youtube"></i>
      </a> -->
    </nav>
  </div>
  <div class="col-12 sub-footer centered">
    <p> All Rights Reserved. Copyright 2020 <p>
  </div>
</footer>
