<section class="gallery padded centered grid padded-t-0">

  {% unless include.block.heading_html == nil %}
  <div class="col-12">
      {{include.block.heading_html}}
  </div>

  {% endunless %}

  {% for item in include.block.gallery-images %}
  <a class="col-4 padded-05" href="{{item.image_path}}" data-fancybox="gallery">
    <div style="background-image:url('{{item.image_path}}')" class="bg-image {{item.aspect-ratio}}"></div>
  </a>
  {% endfor %}

  <div class="margin-top-1"> {{include.block.gallery-text_html}}</div>
</section>
