<!DOCTYPE html>
<html>
<head>
  {% include head.html %}
</head>
<body id="body">

  {% include site-header.html %}

  {{content}}

  {% include site-footer.html %}

  {% include body-scripts.html %}

  {% if page.url == '/portfolio' %}

    <script type="text/javascript" src="/assets/url-info-pull.js" defer></script>

  {% endif %}
  
  <!-- Start of HubSpot Embed Code -->
  <script type="text/javascript" id="hs-script-loader" async defer src="//js-na1.hs-scripts.com/20316348.js"></script>
<!-- End of HubSpot Embed Code -->

</body>
</html>
