---
layout: default
---

<section class="padded light-bg tall-50">
</section>

<section class="bump-up-40 grid padded">
  <div class="col-6">
    <img src="{{page.banner_image}}">
    <span class="image-caption"> {{page.banner-image-caption}} </span>
  </div>
  <div class="col-6 padded">
     <h1 class="big-bold"> {{page.heading}}</h1>
         {{page.intro-text_html}}
</section>
<section class="padded grid-spaceAround">
  <div class="col-3-middle">
    <h2 class="big-bold"> Team. </h2>
  </div>
  <div class="col-1 border-left"></div>
  <div class="col-2 padded-1">
    <h3> {{page.team-heading-1}}</h3>
    <p> {{page.team-text-1}} </p>
  </div>
  <div class="col-2 padded-1">
    <h3> {{page.team-heading-2}}</h3>
    <p> {{page.team-text-2}} </p>
  </div>
  <div class="col-2 padded-1">
    <h3> {{page.team-heading-3}}</h3>
    <p> {{page.team-text-3}} </p>
  </div>
</section>

<section class="gallery padded centered">

  {% for item in page.gallery %}
  <img src="{{item.image_path}}" class="{{item.size}}" alt="{{item.alt}}">
  {% endfor %}
  <p class="subtitle margin-top-1"> {{page.gallery-text}}</p>
</section>
