---
layout: default
page_blocks:
---

<section class="grid intro-banner">
  <div class="col-6_sm-2 padded">
      <h1 class="big-bold padded-t-2"> {{page.title}} </h1>
      <h2> {{page.subtitle}} </h2>
  </div>
  <div class="col-6_sm-10 bg-image tall-100" style="background-image:url('{{page.featured_image}}');">
  </div>
</section>

<section class="padded-10 centered">
  <hr class="centered">
  <div class="padded-1">
    {{page.intro-text_html}}
  </div>
  <hr class="centered">
</section>

{% for block in page.page_blocks %}
      {% include blocks/{{block._id}}.html block=block %}
{% endfor %}

<section class="padded-tall">
  <h2 class="med-bold"> Explore More Projects. </h2>


    <div class="grid mob-horizontal-scroll">

      {% assign page-category = page.category %}
      {% assign relevant-projects = site.projects | where_exp:"project", "project.categories contains page-category" %}

      {% for project in relevant-projects reversed %}

        {% include project-loop-item.html %}

      {% endfor %}

    </div>

</section>
<style>
  .intro-banner .big-bold {
    position: relative;
    margin-top: 10vh;
  }
</style>
